# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env

# Streamlit
.streamlit/

# Hugging Face cache
.cache/
hf_cache/

# Vectorstore / FAISS artifacts
vectorstore/
*.faiss
*.pkl

# OS
.DS_Store
Thumbs.db
